<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061718695588-0k0371fq92ceqacc45cu356avr6k3qm6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061718695588-0k0371fq92ceqacc45cu356avr6k3qm6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1061718695588-31vnetufoeea6eeqooednvq9es810of9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCxYyCt5gNbbrJLnEWcddqXjHupxqpI4nI</string>
	<key>GCM_SENDER_ID</key>
	<string>1061718695588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rayy</string>
	<key>PROJECT_ID</key>
	<string>flutter-a4e25</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-a4e25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061718695588:ios:6c054218918744e1f01031</string>
</dict>
</plist>